<ion-view title="bienvenido" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list id="bienvenido-list1" class=" ">
            <ion-item id="bienvenido-list-item1" class="  ">Nombre</ion-item>
            <ion-item id="bienvenido-list-item2" class="  ">ID</ion-item>
            <ion-item id="bienvenido-list-item3" class="  ">Facebook</ion-item>
        </ion-list>
        <button id="bienvenido-button1" class=" button button-assertive  button-block icon-left ion-log-out ">Cerrar sesión</button>
    </ion-content>
</ion-view>