<ion-view title="Bienvenido" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="centrado">
            <div id="fbpic"></div>
        </div>
        <ion-list id="bienvenido-list1" class=" ">
            <ion-item id="usrNombre"></ion-item>
            <ion-item id="usrMail"></ion-item>
            <ion-item id="usrID"></ion-item>
            <ion-item id="usrSOC"></ion-item>
        </ion-list>
        <button id="bienvenido-button1" ng-click="cerrarSesion()" 
        class=" button button-assertive  button-block icon-left ion-log-out ">
        Cerrar sesión</button>
    </ion-content>
</ion-view>