<ion-view title="completar" hide-back-button="true" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="completar-markdown2" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <form id="completar-form1" class="list ">
            <label class="item item-input " id="completar-input1" name="nombre">
                <span class="input-label">Nombre:</span>
                <input type="text" placeholder="Nombre completo">
            </label>
            <label class="item item-input " id="completar-input2" name="correo">
                <span class="input-label">Correo:</span>
                <input type="email" placeholder="Correo electrónico">
            </label>
            <label class="item item-input " id="completar-input3" name="pais">
                <span class="input-label">País:</span>
                <input type="text" placeholder="País de origen">
            </label>
            <label class="item item-select " id="completar-select1" name="sexo">
                <span class="input-label">Sexo:</span>
                <select>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </label>
            <label class="item item-input " id="completar-input4" name="edad">
                <span class="input-label">Edad</span>
                <input type="number" placeholder="Edad">
            </label>
        </form>
        <button id="completar-button3" class=" button button-positive  button-block icon-left ion-android-person-add ">Completar registro</button>
    </ion-content>
</ion-view>